#footer_area{
 background: $bkColor;
 position: relative;
 .top{
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: center;
  transition: .3s;
  i{
   font-size: 20px;
   width: 40px;
   height: 40px;
   background: $pColor;
   color: $whiteColor;
   padding-top: 12px;
   border-radius: 5px;
   &:hover{
    background: $whiteColor;
    color: $bkColor;
   }
  }
 }
 .logo_area{
  width: 200px;
  margin: 0 auto 20px;
 }
 .social_area{
  ul{
   text-align: center;
   margin-bottom: 20px;
  }
 }
 .copywrite{
  color: $whiteColor;
  p{
   font-size: 13px;
   text-align: center;
  }
 }
}